
body {
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.outfit-body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

  max-width: 270px;   /* Controls how wide the card can be */
  width: 90%;         /* Keeps it responsive on small screens */
  padding: 1rem;     /* Adds spacing inside */
  padding-bottom: 2rem;
  margin: 1rem auto;   /* Centers it and pushes it down slightly */
}

.container img {
  width: 100%;     /* Prevent image from exceeding container */
  height: auto; 
  object-fit: cover; 
  border-radius: 15px; /* Optional: soften image corners */
  margin-bottom: 0.7rem;;
}

p {
  font-weight: 400;
  font-size: 0.95rem;
  color: hsl(220, 15%, 55%);
  margin: 0.8rem;
}


h3 {
  margin: 1.2rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}


.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }